[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Versions after 4.9.4 use libxml 1.12, which cannot parse DITA DTDs without
# additional configuration to re-enable external entity parsing.
lxml = "==4.9.4"
anytree = "*"
xlsxwriter = "*"
aenum = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pydita = {path = ".", editable = true}

[requires]
python_version = "3.10"
